---
import Container from "@/components/container.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

let mobileMenuOpen = false;

const menuitems = [
  {
    title: "Ateliers de groupe",
    path: "#",
    children: [
      { title: "Écoles primaires", path: "/blog/2023-12-17-ecoles-primaires" },
      { title: "Lycées", path: "/blog/2016-01-31-formats-atelier-pour-les-ecoles-primaires" },
    ],
  },
  { title: "Cours individuels à domicile", path: "/blog/2016-01-30-cours-individuel-a-domicile" },
  { title: "Cours de chinois", path: "/blog/2016-01-30-cours-de-chinois" },
  { title: "Galerie", path: "/galerie" },
  {
    title: "Traductions",
    path: "#",
    children: [
      {
        title: "Lu Yin",
        path: "#",
        children: [
          { title: "Biographie", path: "/blog/2016-01-27-etude-de-vie-de-lu-yin-de-oeuvre" },
          { title: "Les influences littéraires étrangères dans l’œuvre de Lu Yin", path: "/blog/2016-01-30-influences-litteraires-etrangeres-loeuvre-de-lu-yin" },
          { title: "Lu Yin dans le monde littéraire chinois des années 1920 et 1930", path: "/blog/2016-01-30-lu-yin-monde-litteraire-chinois-annees-1920-1930" },
          { title: "Père (nouvelle)", path: "/blog/2016-01-30-pere-nouvelle" },
        ],
      },
      {
        title: "Zeng Jixin",
        path: "#",
        children: [
          { title: "Biographie", path: "/blog/2016-01-30-zeng-jixin" },
          { title: "La guerre entre les rats et les hommes (nouvelle)", path: "/blog/2016-01-27-zeng-jixin-la-guerre-entre-les-rats-et-les-hommes-nouvelle" },
          { title: "L’instinct animal", path: "/blog/2016-01-30-instinct-animal" },
        ],
      },
    ],
  },
  {
    title: "Le calligraphe",
    path: "#",
    children: [
      { title: "Shodo, la voie du pinceau", path: "/blog/2016-04-22-shodo-voie-pinceau" },
      { title: "Calligraphie zen", path: "/blog/2016-04-22-calligraphie-zen" },
    ],
  },
];
---
<script src="//unpkg.com/alpinejs" defer></script>

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg">
          <span class="font-bold text-slate-800">Ateliers </span>
          <span class="text-slate-500">de calligraphie</span>
        </a>
        <button
          class="block lg:hidden"
          onClick={() => mobileMenuOpen = !mobileMenuOpen}
        >
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </button>
      </div>

      <MenuItems class={`w-full lg:w-auto mt-2 lg:flex lg:mt-0 ${mobileMenuOpen ? 'block' : 'hidden'}`}>
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {menuitems.map((item, index) => (
            item.children ? (
              <Dropdown
                title={item.title}
                children={item.children}
                lastItem={index === menuitems.length - 1}
              />
            ) : (
              <li key={item.title}>
                <a
                  href={item.path}
                  class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900"
                >
                  {item.title}
                  {item.badge && (
                    <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full">
                      New
                    </span>
                  )}
                </a>
              </li>
            )
          ))}
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
